{{- $taxonomy := .Taxonomy -}} {{- $context := .Context -}} {{- $limit := .Limit
-}} {{ $icon := (index site.Params.taxonomies.icons $taxonomy) | default "tags"
}}

<section class="mt-6 flex w-full flex-col gap-y-3 py-3 pl-6 text-slate-800">
  <div class="flex flex-row">
    <a class="flex flex-row" href="{{ (site.GetPage $taxonomy).RelPermalink }}">
      <i class="h-6 w-6 flex-none"> {{ partial "icon.html" $icon }} </i>
      <h2 class="pl-1 uppercase">
        {{ T (printf "taxonomies.%s" $taxonomy) | safeHTML | default "AUTHORS"
        }}
      </h2>
    </a>
  </div>

  <ul class="flex flex-row flex-wrap">
    {{ range first $limit $context.ByCount }}
    <li class="mr-2 mt-2">
      <a
        href="{{ .Page.RelPermalink }}"
        class="ring-blurple-100 rounded bg-slate-50 px-2 py-1 text-sm text-slate-800 ring-1 backdrop-blur"
      >
        {{ .Page.Title }}
      </a>
    </li>
    {{ end }}
  </ul>
</section>
