<section class="bg-blurple-950 ftr bg-fixed bg-bottom !text-white">
  <div class="py-6">
    <div class="flex-col items-center justify-between md:flex-row">
      <div class="w-full" id="navbar-default">
        <ul
          class="text-s flex flex-col justify-center gap-3 sm:flex-row sm:items-center sm:text-lg md:flex-row md:border-0"
        >
          <li>
            <a
              href="https://www.buildrappo.com/become-champion"
              class="hover:text-blurple md:bg-transparent block rounded text-[#FFFFFF] text-white md:p-4"
            >
              About us
            </a>
          </li>
          <li>
            <a
              href="https://blog.buildrappo.com/"
              class="hover:text-blurple md:bg-transparent block rounded text-[#FFFFFF] text-white md:p-4"
            >
              Blog
            </a>
          </li>
          <li>
            <a
              href="https://www.buildrappo.com/privacy"
              class="hover:text-blurple md:bg-transparent block rounded text-[#FFFFFF] text-white md:p-4"
            >
              Privacy policy
            </a>
          </li>
          <li>
            <a
              href="https://www.buildrappo.com/terms"
              class="hover:text-blurple md:bg-transparent block rounded text-[#FFFFFF] text-white md:p-4"
            >
              Terms of service
            </a>
          </li>
        </ul>
        <div class="mt-3 sm:text-center" style="color: white">
          {{- $CurrentYear := now.Format "2006" -}} &copy; {{ $CurrentYear }}
          Rappo - All rights reserved.
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .ftr {
    margin-top: 2rem;
    width: 100%;
  }
</style>
