<section class="pl-6 w-full max-w-4xl lg:max-w-5xl" style="margin-top:6rem;">
  <form class="" action={{ relLangURL "search/" }} method="get">
    <div class="flex btn-secondary">
      <input type="text" name="search" id="search-input" required placeholder="{{ T "search.placeholder" }}" class="rounded-s-lg border border-r-0 border-blurple-100 text-slate-800 focus:outline-none block flex-1 min-w-0 w-full text-sm p-3">
      <button class="text-slate-800 inline-flex items-center px-3 text-sm border-2 border-blurple-100 rounded-e-lg">
        <i class="h-6 w-6 flex-none">
          {{ partial "icon.html" "search" }}
        </i>
      </button>
    </div>
  </form>
</section>

{{ range $taxonomy, $terms := site.Taxonomies }}
  {{ if $terms }}
  {{- $limit := site.Params.sidebar.limit | default 10 -}}
  {{ partial "block/sidebar_section.html" (dict "Context" $terms "Taxonomy" $taxonomy "Limit" $limit) }}
  {{ end }}
{{ end }}
